.traffic-light-example {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.traffic-light-example > div:first-child { 
  flex-grow: 1; 
  position: relative;
}

.traffic-light-example > div:last-child {
  text-align:center;
}

.traffic-light-example .fill-image {
  width: 100%; 
  height: 100%; 
  position: absolute;
}
