.demo-modal > div:first-child {
  text-align: right; 
  background-color: lightgray; 
  border: 1px solid black;
}

.demo-modal > div:last-child {
  border: 1px solid black; 
  height: 100px;
}

.demo-modal  .close-icon {
  cursor: pointer;
}

.demo-modal, .carousel, .gallery, .history-demo {
  width: 100%; 
  height: 100%;
}

.placeholder {
  width: 50px;
  height: 50px;
  background-color: lightgray;
  margin: 1em;
  display: inline-block;
}
